<template>
  <v-container>
    <div class="address" v-if="address && address.length > 0">
      <span v-for="line in address[0].line" :key="line">{{line}}</span>
      <span>{{address[0].city}}</span>
      <span>{{address[0].state}}</span>
      <span>{{address[0].postalCode}}</span>
      <span>{{address[0].country}}</span>
    </div>
  </v-container>
</template>

<script>
export default {
  props: ["address"]
};
</script>

<style scoped>
.address span {
  margin: 0 5px;
}
</style>
