<template>
  <v-container>
    <div v-if="name && name.length > 0">
      <span v-if="name[0].prefix">{{name[0].prefix[0]}}</span>
      <span>{{name[0].family}},</span>
      <div>{{name[0].given.join(" ")}} </div>
    </div>
  </v-container>
</template>

<script>
export default {
  props: ["name"]
};
</script>

<style scoped>
</style>
