<template>
  <v-container>
    <v-combobox
            label="FHIR server"
          v-model="$store.state.server"
          :items="servers"
        ></v-combobox>
    <PatientListView :server="this.$store.state.server" />
  </v-container>
</template>

<script>
import axios from 'axios'
import AddressView from '@/components/AddressView.vue'
import NameView from '@/components/NameView.vue'
import PatientListView from '@/components/PatientListView.vue'

  export default {
    components: {NameView, AddressView, PatientListView},
    data: () => ({
      servers: ['http://test.fhir.org/r4', 
      'http://sandbox.hspconsortium.org',
        'https://vonk.fire.ly', 
        'http://spark.furore.com/fhir',
        'https://tw171.open.allscripts.com/FHIR', 
        'http://open.epic.com/Interface/FHIR',
        'http://nprogram.azurewebsites.net'],
    }),  

  }
</script>

<style scoped>
</style>
