<template>
  <div>
    <v-progress-circular indeterminate v-if="this.loading"></v-progress-circular>
    <div>
      <v-alert v-if="error" :value="true" type="warning">{{error}}</v-alert>
    </div>
    <div v-if="!loading && !error">
      <v-data-table
        :headers="headers"
        :pagination.sync="pagination"
        :items="patients"
        class="elevation-1"
      >
        <template v-slot:items="props">
          <!-- <td>{{ props.item.resource }}</td> -->
          <td>
            <NameView :name="props.item.resource.name"/>
          </td>
          <td>
            <AddressView :address="props.item.resource.address"/>
          </td>
          <td class="text-xs-right">{{ props.item.resource.birthDate }}</td>
          <td class="text-xs-right">{{ props.item.resource.gender }}</td>
          <td>
            <v-btn :href="props.item.fullUrl" icon>
              <v-icon>info</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AddressView from "@/components/AddressView.vue";
import NameView from "@/components/NameView.vue";

export default {
  components: { NameView, AddressView },
  props: ["server"],
  data: () => ({
    headers: [
      { text: "name", value: "name" },
      { text: "address", value: "address" },
      { text: "birth date", value: "birthDate" },
      { text: "Gender", value: "gender" },
      { text: "Info", value: "fullUrl" }
    ],
    error: null,
    loading: false,
    patients: [],
    pagination: {
      rowsPerPage: -1
    }
  }),
  created() {
    this.reload();
  },
  methods: {
    reload() {
      this.loading = true;
      this.patients = [];
      this.error = false;
      axios
        .get(this.server + "/Patient")
        .then(data => {
          console.log(data);
          this.patients = data.data.entry;
        })
        .catch(e => {
          this.error = e;
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  watch: {
    server() {
      this.reload();
    }
  }
};
</script>

<style scoped>
.v-progress-linear {
  margin: 0;
}
</style>
