<template>
  <v-app dark>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span title="A simple FHIR client based on Vue">flame</span>
        <span class="font-weight-light">on</span>
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
      <PatientList/>
    </v-content>
  </v-app>
</template>

<script>
import PatientList from './components/PatientList'

export default {
  name: 'App',
  components: {
    PatientList
  },
  data () {
    return {
      //
    }
  }
}
</script>
